.container {
  background-color: beige;
  padding: 20px;
  border-radius: 10px;
  margin: auto; /* Centers horizontally */
  font-family: 'Courier New', Courier, monospace;
  border: 4px solid rgb(203, 203, 165);
  color: #6B4C35;
  width: 90%;
  max-width: 800px;
  box-sizing: border-box;
}
