.container {
    background-color: beige;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    font-family: 'Courier New', Courier, monospace;
    border: 4px solid rgb(203, 203, 165);
    color: #6B4C35;
    overflow-x: auto;
    width: 100%;
    max-width: 100%;
    min-width: 300px; /* Prevents shrinking beyond threshold*/
    box-sizing: border-box;
}


.title {
    padding: 10px;
    margin: 20px;
    color: #6B4C35;
    text-align: center;
    font-weight: bold;
}


.form-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.input,
.select,
.button {
    border: 2px solid rgb(203, 203, 165);
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 248);
    color: #6B4C35;
    font-weight: bold;
    flex: 1;
    min-width: 80px; 
    text-align: center;
}

.button {
    flex: initial;
    flex-shrink: 0;
    min-width: 100px; 
    cursor: pointer;
}

.button:hover {
    background-color: #6B4C35;
    color: white;
}

/* Table Styling - allows horizontal and vertical scrolling */
.table-container {
    width: 100%;
    overflow: auto; 
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    min-width: 400px;
    background-color: rgb(255, 255, 248);
    font-weight: bold;
    border-radius: 10px;
    overflow: hidden;
}

.table th,
.table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: start;
    color: #6B4C35 !important;
}

.table th {
    background-color: rgb(255, 255, 248);
}

.table tr:hover {
    background-color: #f1f1f1;
}

/*changes color of placeholder text*/
.input::placeholder {
    color: #6B4C35;
}

.checkmark {
    display: inline-block;
    width: 14px;
    height: 8px;
    border-left: 3px solid rgb(120, 179, 25);
    border-bottom: 3px solid rgb(120, 179, 25);
    transform: rotate(-45deg);
    position: left;
    animation: checkmark-animation 1.0s ease-in-out;
}

@keyframes checkmark-animation {
    0% {
        transform: scale(0);
    }
    30% {
        transform: scale(2);
    }
}

/* Responsive layout for diff. screen sizes */

/* Med screens */
@media (max-width: 768px) {
    .form-group {
        flex-direction: column;
        align-items: stretch;
    }

    .input,
    .select,
    .button {
        margin-bottom: 10px;
        width: 100%;
    }

    .table {
        font-size: 0.9em;
    }
}

/* Sml screens */
@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    .title {
        font-size: 1.5em;
        margin: 10px;
    }

    .table th,
    .table td {
        padding: 8px;
        font-size: 0.8em;
    }

    .button {
        font-size: 0.9em;
        padding: 6px;
        min-width: 90px; 
    }
}
