.container{
    background-color: beige;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
    border: 4px solid rgb(203, 203, 165);
    color: #6B4C35;
    /*display: flex;
    align-items: center;
    fix for individual fields  */ 

    
}
.title {
   
    padding: 10px;
    margin: 20px;
    color: #6B4C35;
}

.input,
.select,
.button {
    border: 3px solid rgb(203, 203, 165);
    border-radius: 10px;
    margin-bottom: 10px; 
    margin: 10px;
    padding:10px; 
    background-color: rgb(255, 255, 248);
    color: #6B4C35;
}


.input::placeholder {
    color: #6B4C35; 
}


.data {
    margin: 30px;
    border: 4px solid rgb(203, 203, 165);
    background-color: rgb(255, 255, 248);
    border-radius: 10px;
    color: #6B4C35;
}